.noithat header {
    height: 936px;
    width: 100%;
    overflow: hidden;
    background-image: url("image/banner.jpg");

}
.noithat header img{
    max-width: 100%;


}

nav .header-menu{
    clear: both;
    list-style: none;
}
nav .header-menu:after{
    clear: both;
    content: "";
    display: table;
}
nav .header-menu li{
    float: left;

}
nav .header-menu li a{
    display: block;
    padding: 16px;
    color: #9c9c9c;
    text-decoration: none;

}
.banner h1{
    font-size: 80px;
    color: black;
    text-align: center;

}
.banner h1 span{
    color: #f66c27;
}